@import "../matugen/generated/waybar-colors.css";

* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 15px;
    font-weight: 600;
    min-height: 0;
}

window#waybar {
    background: alpha(@background, 0.82);
    color: @on_surface;

    border-bottom: 1px solid alpha(@primary, 0.65);
}

/* =========================
   WORKSPACES
   ========================= */

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    min-width: 28px;
    padding: 0 7px;

    background: transparent;
    color: @on_surface_variant;

    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    color: @on_surface;
    background: alpha(@primary, 0.10);
}

#workspaces button.focused {
    color: @primary;
    background: transparent;

    border-bottom: 2px solid @primary;
}

#workspaces button.urgent {
    color: @error;
}

/* =========================
   CLOCK
   ========================= */

#clock {
    color: @primary;
    padding: 0 12px;
}

/* =========================
   RIGHT SIDE
   ========================= */

#network,
#pulseaudio,
#tray,
#custom-power {
    background: transparent;
    border: none;
    border-radius: 0;

    padding: 0 8px;
}

#network {
    color: @primary;
}

#pulseaudio {
    color: @tertiary;
}

#custom-power {
    color: @primary;
}
#custom-media {
    color: @primary;
    padding: 0 12px;
    margin-left: 4px;
}

#custom-media:hover {
    color: @on_primary;
    background: alpha(@primary, 0.12);
}
#custom-power:hover {
    color: @on_primary;
    background: alpha(@primary, 0.15);
}

#tray {
    margin-right: 8px;
    padding: 0 6px;
}

tooltip {
    background: @surface;
    color: @on_surface;

    border: 1px solid @outline;
    border-radius: 6px;

    padding: 6px 8px;
}
